<header class="header">
  <div class="header__content">
    <h1 class="header__logo">Brainwave.io</h1>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a [routerLink]="['/']" class="header__nav-link">Demos</a>
        </li>
        <li class="header__nav-item">
          <a [routerLink]="['/']" class="header__nav-link">Pages</a>
        </li>
        <li class="header__nav-item">
          <a [routerLink]="['/']" class="header__nav-link">Support</a>
        </li>
        <li class="header__nav-item">
          <a [routerLink]="['/contact']" class="header__nav-link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
  <button class="header__cta">Get started a project</button>
</header>